<ion-view>
    <ion-header-bar class="bar bar-header bar-energized">
        <h1 class="title">Perfil</h1>
    </ion-header-bar>
    <ion-content class="has-header" overflow-scroll="false" has-bouncing="true">
        <div class="list list-inset">
            <label class="item item-input">
                <input type="button" value="Vendas" data-ng-click="vm.selectProfile('V');">
            </label>
            <label class="item item-input">
                <input type="button" value="Estoque" data-ng-click="vm.selectProfile('E');">
            </label>
        </div>
    </ion-content>
</ion-view>