<ion-view>
    <ion-header-bar class="bar bar-header bar-energized">
        <h1 class="title">Solicitações</h1>
    </ion-header-bar>
    <ion-content layout-fill class="has-header" overflow-scroll="false" has-bouncing="true">
        <div class="list list-inset">
            <label class="item" data-ng-repeat="request in vm.requests">
                <span data-ng-bind="request.dataExibicao"></span><br />
                <span data-ng-bind="request.usuarioCriacao"></span><br />
                <span data-ng-bind="request.status"></span><br />
                <span data-ng-bind="request.totalProdutos"></span><br />
                <span data-ng-bind="request.grupo"></span>
            </label>
        </div>

    </ion-content>
    <md-button class="md-primary md-fab md-fab-bottom-right" data-ng-click="vm.openSearchModal($event);">
        +
    </md-button>
</ion-view>